{% extends 'base.html' %}
{% block title %}Просмотр задачи{% endblock title %}
{% block header %}Просмотр задачи №{{ context.id }}{% endblock header %}

{% block content %}
<style>
    .bold {font-weight: bold;}
</style>

<table border=1 cellspacing=1 width=100%>
    <thead>
        <tr>
            <th width=20%>Имя</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tr>
        <td>Задача</td>
        <td>{{ context.desc }}</td>
    </tr>
    <tr>
        <td>Записана</td>
        <td class="bold">{{ context.date_add|date:"d.m.Y H:i" }}</td>
    </tr>
    <tr>
        <td>Завершена</td>
        {% if context.chk_end %}
            <td class="bold">{{ context.date_end|date:"d.m.Y H:i" }}</td>
        {% else %}
            <td class="bold">Нет</td>
        {% endif %}
    </tr>
</table>

{% include "buttons.html" %}

{% endblock content %}
