{% extends 'base.html' %}
{% block title %}Редактирование задачи{% endblock title %}
{% block header %}Редактирование задачи №{{ context.id }}{% endblock header %}
{% block content %}

<style>
    [name='desc'] {width: 100%; font-size: 1.1em;}
    [name='desc'] ~ .helptext {visibility: hidden;}
    .bold {font-weight: bold;}
</style>
<p>
    Задача записана: <span class="bold">{{ context.date_add|date:"d.m.Y H:i" }}</span><br>
    Задача завершена: 
    {% if context.chk_end %}
        <span class="bold">&nbsp;{{ context.date_end|date:"d.m.Y H:i" }}&nbsp;</span>
    {% else %}
        <span class="bold">&nbsp;Нет&nbsp;</span>
    {% endif %}
</p>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить">
</form>

{% include "buttons.html" %}

{% endblock content %}